@charset "utf-8";
/* common */
header,footer,main,section,article,nav{display:block;}
html{overflow-x: hidden;font-size:10px;}
body{-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(22,28,45,0);}
*,*:before,*:after{margin:0;padding:0;box-sizing:border-box;}
body,input,button,textarea,select,th,td,h1,h2,h3,h4,h5,h6{font-size:1.5rem;letter-spacing:-0.1rem;word-spacing:0.1rem;}
body,input,button,textarea,select{font-weight:400;font-family:'Nanum Gothic', HKGroteskPro,sans-serif;color:#333;line-height:1.25;}
input,button,textarea,select{vertical-align:middle;}
button{overflow:visible;border:0 none;border-radius: 0;background:none;cursor: pointer;}
button:focus{outline:none;}
ul,ol{list-style:none;}
fieldset{border:none;}
legend{display:none;}
img{max-width:100%;border:0;vertical-align:middle;}
table,th,td{border-collapse:collapse;}
input::placeholder{font-size: 1.3rem;color: #aaa;}
a{cursor: pointer;}
a:link,
a:visited,
a:active{color:#333;text-decoration:none;}
a:focus,
a:hover{color: #333;text-decoration: underline;}
.nav a,
.ui-pic .item-link{
	text-decoration: none;
}
.ui-pic .item-link:hover .item-name{
	text-decoration: underline;
}
body.on-layer{
	overflow: hidden;
}
.blind{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
	color: transparent;
	clip: rect(0 0 0 0);
}
#skipnavigation a{
	position:absolute;
	left:-3000%;
}
#skipnavigation a:focus{
	display:block;
	left:0;
	top:0;
	z-index:10000000000;
	width:100%;
	height:30px;
	line-height:30px;
	background:#039;
	color:#fff;
	text-align:center;
}
input[type="text"]{
	height: 3.5rem;
	padding: 0 .5rem;
	border: 1px solid #000;
	border-radius: .3rem;
	line-height: 3.5rem;
}
.wrap-btn{
	padding: 2rem 0;
	text-align: center;
}
.ta-c{
	text-align: center;
}
.btn-base{
	padding: 1rem;
	border-radius: 4rem;
	background: #ff2339;
	color: #fff;
}
.btn-base.size-l{
	font-weight: 700;
	font-size: 1.7rem;
}

/* icon */
.icon-up{
	display: inline-block;
	margin: 0 .3rem;
	border-bottom: 1rem solid #ff2339;
	border-left: .6rem solid transparent;
	border-right: .6rem solid transparent;
	vertical-align: -.1rem;
}
.icon-down{
	display: inline-block;
	margin: 0 .3rem;
	border-top: 1rem solid #2385ff;
	border-left: .6rem solid transparent;
	border-right: .6rem solid transparent;
	vertical-align: -.1rem;
}
.icon-new:after{
	content: "N";
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.25rem;
	height: 1.25rem;
	margin: 0 0 0 .5rem;
	border-radius: .3rem;
	background: #f33;
	font-size: 1rem;
	color: #fff;
	line-height: 1;
}
/* color */
.ft-color-primary{
	color: #e70113;
}

/* table */
.table{
	width: 100%;
	border-top: 1px solid #000;
}
.table th,
.table td{
	padding: .8rem .4rem;
}
.table thead th{
	border-bottom: 1px solid #ddd;
	background: #f4f3f4;
	font-weight: 400;
	font-size: 1.4rem;
}
.table td{
	border-bottom: 1px solid #ddd;
	font-size: 1.3rem;
	text-align: center;
}
.table td a{
	display: block;
	padding: .4rem 0;
	text-align: left;
}
.col-grid10{
	width: 10%;
}
.col-grid15{
	width: 15%;
}
.col-grid20{
	width: 20%;
}
.col-grid25{
	width: 25%;
}
.col-grid30{
	width: 30%;
}
.col-grid35{
	width: 35%;
}
.col-grid40{
	width: 40%;
}
.col-grid45{
	width: 45%;
}
.col-grid50{
	width: 50%;
}
.col-grid55{
	width: 55%;
}
.col-grid60{
	width: 60%;
}
.col-grid65{
	width: 65%;
}
.col-grid70{
	width: 70%;
}
.col-grid75{
	width: 75%;
}
.col-grid80{
	width: 80%;
}
.col-grid85{
	width: 85%;
}
.col-grid90{
	width: 90%;
}
.col-wideview,
.td-wideview{
	display: none;
}

/* ui-tab */
.ui-tab{
	position: relative;
}
.ui-tab .tab-title{
	margin: 0 0 1.5rem;
	font-size: 1.5rem;
}
.ui-tab .tab-title li{
	display: inline-block;
}
.ui-tab .tab-title a{
	display: block;
	padding: .8rem 1.2rem;
	text-decoration: none;
}
.ui-tab .tab-title li.on a{
	border-radius: 2rem;
	background: #ff2339;
	color: #fff;
}
.ui-tab.ui-type2 .tab-title{
	display: flex;
	align-items: center;
	width: 100%;
	border-bottom: 3px solid #ff2339;
}
.ui-tab.ui-type2 .tab-title li{
	flex: 1;
	text-align: center;
	border: solid #ccc;
	border-width: 1px 0 0 1px ;
}
.ui-tab.ui-type2 .tab-title li:last-child{
	border-right: 1px solid #ccc;
}
.ui-tab.ui-type2 .tab-title li + li{
	border-left: 1px solid #ccc;
}
.ui-tab.ui-type2 .tab-title li.on{
	border: 0;
}
.ui-tab.ui-type2 .tab-title li.on + li{
	border-left: 0;
}
.ui-tab.ui-type2 .tab-title li.on a{
	padding: 1rem .5rem .7rem;
	border-radius: 0;
}
.sect-more{
	position: absolute;
	top: .1rem;
	right: 1.5rem;
	padding-right: 1.7rem;
	font-size: 1.4rem;
}
.ui-tab .sect-more{
	top: 4.5rem;
}
.sect-more:before,
.sect-more:after{
	content: "";
	display: block;
	position: absolute;
	top: .2rem;
	right: .6rem;
	width: .2rem;
	height: 1.2rem;
	background: #000;
	transition: all .2s ease;
}
.sect-more:before{
	transform: rotate(90deg);
}

/* ui-pic */
.ui-pic .sect-more{
	display: block;
	position: relative;
	top: auto;
	right: auto;
	width: 100%;
	margin: 2.5rem 0 0;
	padding: 1.4rem 0;
	border-radius: .5rem;
	background: #ff2339;
	color: #fff;
	text-align: center;
	box-shadow: inset 0 0.2rem .2rem rgba(255,255,255,.4), inset 0 -0.2rem .2rem rgb(0,0,0,.2);
}
.ui-pic .sect-more:before,
.ui-pic .sect-more:after{
	display: none;
}
.ui-pic .itemWrap{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: -1rem;
}
.ui-pic .item{
	margin-top: 1rem;
	border: 1px solid #ddd;
	background: #fff;
	box-shadow: 0 .2rem .5rem rgba(0,0,0,.1);
}
.ui-pic .item:nth-child(odd){
	width: calc(50% - .5rem);
}
.ui-pic .item:nth-child(even){
	width: calc(50% - .5rem);
}
.ui-pic .item-name{
	display: block;
	overflow: hidden;
	padding: .8rem .55rem 1rem;
	font-size: 1.4rem;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ui-pic .item-line{
	display: block;
	padding: 0 .55rem;
	font-size: 1.1rem;
}
.ui-pic .item-price{
	display: block;
	padding: 0 .55rem .7rem;
	font-size: 1.1rem;
	color: #888;
}
.ui-pic .item-line + .item-price{
	margin-top: 1.5rem;
}
.ui-pic .item-price strong{
	display: block;
	font-size: 1.7rem;
	color: #ff2339;
}
.ui-pic .item-pic{
	display: block;
	width: 100%;
	height: 11.5rem;
	text-align: center;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.ui-pic .item-pic img{
	width: 100%;
	height: auto;
	min-height: 11.5rem;
}
.ui-pic .item-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	padding: .65rem 0;
	border-top: 1px solid #ddd;
}
.ui-pic .item-btn:after{
	content: "";
	display: block;
	position: absolute;
	width: 1px;
	height: 2rem;
	top: .8rem;
	left: 50%;
	background: #ddd;
}
.ui-pic .item-btn button,
.ui-pic .item-btn a{
	flex: 1;
	width: 100%;
	padding: .25rem 0;
	font-size: 1.1rem;
}
.ui-pic .item-btn .btn-question:before,
.ui-pic .item-btn .btn-purchase:before{
	content: "";
	display: inline-block;
	width: 1.3rem;
	height: 1.3rem;
	margin: 0 .5rem 0 0;
	vertical-align: -.1rem;
}
.ui-pic .item-btn .btn-question:before{
	background: url(../images/common/ico-question.png) no-repeat 50% 50% / contain;
}
.ui-pic .item-btn .btn-purchase:before{
	background: url(../images/common/ico-purchase.png) no-repeat 50% 50% / contain;
}
.pagination{
	display: none;
	align-items: center;
	justify-content: center;
	padding: 2.5rem 0 1rem;
}
body[data-page="sub"] .pagination{
	display: flex;
}
.pagination-btn-prev,
.pagination-btn-next{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.2rem;
	height: 2.2rem;
	margin: 0 1rem;
	border: 1px solid #bbb;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	background-size: 80% 80%;
	transition: all .3s ease;
}
.pagination-btn-prev{
	margin: 0 1rem 0 0;
}
.pagination-btn-next{
	margin: 0 0 0 1rem;
}
.pagination-btn-prev:before,
.pagination-btn-next:before{
	content: "";
	display: block;
	width: .6rem;
	height: .6rem;
	border-top: 2px solid #bbb;
	border-left: 2px solid #bbb;
	transition: all .3s ease;
}
.pagination-btn-prev:before{
	margin-left: .2rem;
	transform: rotate(-45deg);
}
.pagination-btn-next:before{
	margin-left: -.2rem;
	transform: rotate(135deg);
}
.pagination-btn-prev:hover,
.pagination-btn-next:hover{
	border-color: #ff2339;
	background-color: #ff2339;
}
.pagination-btn-prev:hover:before,
.pagination-btn-next:hover:before{
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}
.pagination-num-total:before{
	content: "/";
	margin: 0 .2rem 0 .4rem;
}
.recent-control.pagination{
	padding: 1rem 0;
}
.recent-control.pagination .pagination-btn-prev,
.recent-control.pagination .pagination-btn-next{
	width: 1.8rem;
	height: 1.8rem;
	border: 0 none;
}
.recent-control.pagination .pagination-btn-prev{
	margin-right: .3rem;
}
.recent-control.pagination .pagination-btn-next{
	margin-left: .3rem;
}

/* layout */
.page{
	width: 100%;
	height: 100%;
}

/* header */
.header{
	position: relative;
}
body[data-page="sub"] .header{
	border-bottom: 1px solid #ccc;
}
.header .banner{
	width: 100%;
	background: #ff2339;
}
.header .banner .sect{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 2rem;
	margin: 0 auto;
	padding: 0 1rem;
}
.header .banner p{
	font-size: 1.2rem;
	color: #fff;
}
.header .logo{
	width: 11.7rem;
	margin: 0 1.5rem 2rem;
	padding: 1.5rem 0 0;
}
body[data-page="sub"] .header .logo{
	margin-bottom: 1.5rem;
}
/* header__search */
.header .search{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 1.5rem;
}
body[data-page="sub"] .header .search{
	display: none;
}
.header .search-input{
	width: calc(100% - 4.5rem);
	height: 3.5rem;
	padding: 0 1.3rem;
	border: 3px solid #ff2339;
	border-radius: .6rem;
}
.header .search-btn{
	flex: 1;
	width: 3.5rem;
	height: 3.5rem;
	margin-left: .6rem;
	border-radius: .5rem;
	background: #ff2339 url(../images/common/btn-search.png) no-repeat 50% 50% / contain;
}

/* header__gnb */
.header .gnb{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1rem 0 0;
}
body[data-page="sub"] .header .gnb{
	position: absolute;
	top: 2.7rem;
	right: 1rem;
	width: 4rem;
	height: 4rem;
	padding: 0;
}
.header .gnb > .inner{
	flex: 4;
	font-size: 1.6rem;
	font-weight: 700;
}
body[data-page="sub"] .header .gnb > .inner{
	display: none;
}
.header .gnb ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.header .gnb ul li:nth-child(1),
.header .gnb ul li:nth-child(4) ~ li{
	display: none;
}
.header .gnb a{
	display: block;
	position: relative;
	overflow: hidden;
	padding: 1rem .8rem 1.8rem;
	text-decoration: none;
	transition: color .3s ease;
}
.header .gnb a:after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: -.5rem;
	width: 100%;
	height: .4rem;
	background: #ff2339;
	opacity: 0;
	transition: all .3s ease;
}
.header .gnb a:focus,
.header .gnb a:hover,
.header .gnb li.on a{
	color: #ff2339;
}
.header .gnb a:focus:after,
.header .gnb a:hover:after,
.header .gnb li.on a:after{
	bottom: 0;
	opacity: 1;
}
.header .btn-show-nav{
	display: block;
	flex: 1;
	position: relative;
	padding: 1rem .8rem 1.8rem;
	font-weight: 700;
	font-size: 1.6rem;
}
body[data-page="sub"] .header .btn-show-nav{
	width: 4rem;
	height: 4rem;
	padding: 0;
}
body[data-page="sub"] .header .btn-show-nav .item-text{
	position: absolute;
	font-size: 1px;
	color: transparent;
	text-indent: -9999em;
	opacity: 0;
}
.header .btn-show-nav .item-ico{
	display: inline-block;
	position: relative;
	width: 1.2rem;
	height: .2rem;
	margin-left: .4rem;
	border-radius: .5rem;
	background: #333;
	vertical-align: .4rem;
}
.header .btn-show-nav .item-ico:before,
.header .btn-show-nav .item-ico:after{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 1.5rem;
	height: .2rem;
	border-radius: .5rem;
	background: #333;
}
.header .btn-show-nav .item-ico:before{
	margin-top: -.6rem;
}
.header .btn-show-nav .item-ico:after{
	margin-top: .4rem;
}
body[data-page="sub"] .header .btn-show-nav .item-ico{
	width: 1.5rem;
	margin-left: -.4rem;
}
body[data-page="sub"] .header .btn-show-nav .item-ico:before,
body[data-page="sub"] .header .btn-show-nav .item-ico:after{
	width: 1.9rem;
}
body[data-page="sub"] .header .btn-show-nav .item-ico:before{
	margin-top: -.7rem;
}
body[data-page="sub"] .header .btn-show-nav .item-ico:after{
	margin-top: .5rem;
}

/* header__nav */
.header .nav{
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.header .nav.on{
	z-index: 110;
	display: block;
	opacity: 1;
}
.header .nav-bg{
	display: block;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,.7);
	opacity: 0;
	transition: opacity .2s ease;
}
.header .nav.on .nav-bg{
	width: 100%;
	height: 100%;
	opacity: 1;
}
.header .nav > .inner{
	display: block;
	position: fixed;
	z-index: 110;
	top: 0;
	right: -100%;
	width: 32rem;
	height: 100%;
	background: #fff;
	opacity: 0;
	transition: right .2s ease .15s;
}
.header .nav.on > .inner{
	right: 0;
	opacity: 1;
}
.header .nav-btn-close{
	position: absolute;
	top: 1.4rem;
	right: 1rem;
	width: 2.4rem;
	height: 2.4rem;
}
.header .nav-btn-close:before,
.header .nav-btn-close:after{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0%;
	width: 2.4rem;
	height: .2rem;
	background: #2d2d2d;
	transform: rotate(45deg);
}
.header .nav-btn-close:after{
	transform: rotate(-45deg);
}
.header .nav-home{
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	height: 5rem;
	padding: 1rem 2.5rem;
	border-bottom: 1px solid #333;
}
.header .nav-list{
	position: relative;
	width: 100%;
	height: calc(100% - 4rem);
}
.header .nav-depth1{
	width: 12rem;
	height: 100%;
	border-right: 1px solid #333;
}
.header .nav-depth1 > li a{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	height: 5rem;
	padding: 0 0 0 2.5rem;
}
.header .nav-depth1 > li > a{
	font-weight: 700;
}
.header .nav-depth1 > li.on > a:before{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 0.5rem;
	height: 1.5rem;
	background: #f33;
	transform: translateY(-50%);
}
.header .nav-depth2{
	display: none;
	position: absolute;
	top: 0;
	left: 12rem;
	overflow: hidden;
	overflow-y: auto;
	width: 20rem;
	height: 100%;
	padding-bottom: 10rem;
}
.header .nav-depth2 a{
	border-bottom: 1px solid #333;
}
.header .on > .nav-depth2{
	display: block;
}
.header .nav-depth3{
	display: none;
	background: #f0f0f0;
	font-size: 1.4rem;
}
.header .has-depth.on .nav-depth3{
	display: block;
}
.header .nav-depth3 > li a{
	padding-left: 3rem;
}
.header .nav-depth3 li:not(:last-child) a{
	border-bottom: 1px solid #d0d0d0;
}
.header .nav-depth3 > li a:hover{
	background: #f3f3f3;
}

/* footer */
.footer{
	width: 100%;
	margin-top: 5rem;
	padding-bottom: 3rem;
}
body[data-page="main"] .footer{
	padding-bottom: 7.5rem;
}
body[data-page="sub"] .sect-partner{
	display: none;
}
.footer .partner ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	background: #f1f1f1;
}
.footer .partner ul li{
	padding: .6rem;
}
.footer .siteLink ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	padding: 1rem 0;
	background: #333;
	font-size: 1.1rem;
}
.footer .siteLink li{
	position: relative;
	width: 100%;
}
.footer .siteLink li:nth-child(1),
.footer .siteLink li:nth-child(2),
.footer .siteLink li:nth-child(3),
.footer .siteLink li:nth-child(4),
.footer .siteLink li:nth-child(5){
	display: none;
}
.footer .siteLink li:nth-child(6) ~ li:before{
	content: "";
	display: block;
	position: absolute;
	top: .9rem;
	left: 0;
	width: 1px;
	height: 1.2rem;
	background: #fff;
}
.footer .siteLink a{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	color: #fff;
}
.footer .csCenter{
	padding: 2rem 1.5rem 0;
}
.footer .csCenter-txt1{
	font-size: 1.2rem;
}
.footer .csCenter-txt1 span{
	font-size: 1.8rem;
}
.footer .csCenter-txt2{
	font-size: .9rem;
}
.footer .csCenter .item-tel{
	display: block;
	margin: 0 0 .5rem;
}
.footer .company{
	padding: 2rem 1.5rem 0;
}
.footer .company-logo{
	display: block;
	margin: 0 0 .5rem;
	font-size: 1.2rem;
}
.footer .company-txt{
	font-size: .9rem;
	color: #666;
}
.footer .company address{
	margin: 0 0 1rem;
	font-style: normal;
}

/* content */
.content{
	position: relative;
}
body[data-page="sub"] .content{
	padding: 0 1.5rem;
}

/* visual */
.visual{
	height: 19.5rem;
	background: url(../images/main/visual-bg.jpg) no-repeat 50% 50% / cover;
}
.visual .visual-maincopy{
	padding: 4rem 1rem 0 40%;
	font-size: 1.55rem;
	color: #fff;
}
.visual .visual-maincopy > span{
	display: inline-block;
	margin: 0 0 0.2rem;
	padding: .2rem 1.6rem .2rem .4rem;
	background: rgba(45,45,45,.84);
}

/* sect */
.sect{
	width: 100%;
}
.sect .sect-title{
	margin: 0 0 1.5rem;
	font-size: 1.6rem;
}

/* quickLink*/
.quickLink{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: -4.5rem 1rem 0;
	padding: 1.6rem 4rem 1.2rem;
	border-radius: .5rem;
	background: rgba(255,35,57,.87);
	line-height: 1.15;
}
.quickLink-title{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	width: calc(33.33% - .4rem);
	height: 8.5rem;
	margin: 0 0 .4rem;
	padding: 1rem 0;
	font-weight: 400;
	font-size: 1.7rem;
	color: #fff;
}
.quickLink-title a{
	font-size: 1rem;
	font-weight: 400;
	color: #fff;
}
.quickLink > a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(33.33% - .4rem);
	height: 8.5rem;
	margin: 0 0 .4rem;
	border-radius: .5rem;
	background: #fff;
	font-weight: 700;
	text-align: center;
}

/* consult */
.consult{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 1rem 0 0;
	padding: 0 1rem;
	border-radius: .5rem;
	color: #fff;
}
.consult-title{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-width: 7rem;
	height: 8.5rem;
	border-radius: .5rem 0 0 .5rem;
	background: #ff2339;
}
.consult-title > span{
	display: block;
	font-weight: 400;
}
.consult-list{
	width: 100%;
	padding: 0 1rem;
	border-radius: 0 .5rem .5rem 0;
	background: #2d2d2d;
}
.consult-list:after{
	content: "";
	display: block;
	clear: both;
}
.consult-list li{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	float: left;
	width: 50%;
	height: 50%;
	padding: 0 0 0 1rem;
}
.consult-list li:nth-child(1){
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}
.consult-list li:nth-child(1):after{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border: 1px dashed #fff;
}
.consult-list li span{
	margin: 0 1rem 0 0;
	font-size: 1rem;
}
.consult-list li:nth-child(1) span{
	font-size: 1.3rem;
}
.consult-list li strong{
	display: block;
}
.consult-list li:nth-child(1) strong{
	font-size: 1.9rem;
}

/* main sect sub */
.forSale{
	margin: 4rem 0 0;
	padding: 0 1.5rem 4rem;
}
.marketPrice{
	padding: 0 1.5rem 4rem;
}
.recommend{
	padding: 2rem 1.5rem 4rem;
	background: #f6f8f8;
}
.quickSale{
	padding: 2rem 1.5rem 4rem;
	background: #f6f8f8;
}
.membership{
	position: relative;
	margin-top: 4rem;
}
.membership-title{
	padding: 0 1.5rem;
}
.membership-title span{
	font-weight: 400;
}
.membership-list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-top: 1px solid #7f7f7f;
	color: #7f7f7f;
}
.membership-list li{
	width: 33.3%;
	border-right: 1px solid #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
	text-align: center;
}
.membership-list li:nth-child(3n){
	width: 33.4%;
	border-right: 0 none;
}
.membership-list .item-pic{
	display: block;
}
.membership-list .item-pic img{
	width: auto;
	height: 4.4rem;
}
.membership-list .item-name{
	display: block;
	overflow: hidden;
	padding: 0 0 1.3rem;
	font-size: 1rem;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* layer-full */
.layer-full{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	padding: 4rem 1.5rem 2rem;
	background: #fff;
}
.layer-full.on{
	display: block;
}
.layer-btn-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 3rem;
	height: 3rem;
}
.layer-btn-close:before,
.layer-btn-close:after{
	content: "";
	display: block;
	position: absolute;
	top: 1.4rem;
	left: 0;
	width: 3rem;
	height: .2rem;
	background: #000;
	-ms-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.layer-btn-close:before{
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.layer-btn-close:after{
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* trading */
.trading-fixed{
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 90;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4.5rem;
}
a.trading-fixed-btn-tel,
.trading-fixed-btn-apply{
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	height: 4.5rem;
	color: #fff;
}
.trading-fixed-btn-tel{
	flex: 1;
	background: #2d2d2d;
}
.trading-fixed-btn-apply{
	flex: 2;
	background: #ff2339;
}
.trading-title{
	padding: 0 0 1rem;
	border-bottom: 1px solid #000;
	font-size: 2rem;
	text-align: center;
}
.trading-form .column{
	padding: 1.3rem 0;
}
.trading-form .column + .column{
	border-top: 1px dashed #ccc;
}
.trading-form .column-title{
	margin: 0 0 .8rem;
	font-weight: 400;
	font-size: 1.6rem;
}
.trading-form .column-content{
	display: flex;
	width: 100%;
}
.trading-form .column-content.space-between{
	justify-content: space-between;
}
.trading-form .column-content label:not(:first-child){
	margin-left: 3rem;
}
.trading-form .column-content > *,
.trading-form .column-content label > *{
	vertical-align: middle;
}
.trading-form .column-content > label{
	display: flex;
	align-items: center;
}
.trading-form .column-content input[type="text"]{
	width: 100%;
}
.trading-form .column-content label > input[type="radio"] + span,
.trading-form .column-content label > input[type="checkbox"] + span{
	padding-left: .5rem;
}
.trading-form .column-content .input-tail{
	margin: 0 .8rem;
	line-height: 3.5rem;
	white-space: nowrap;
}
.trading-btn .btn-base{
	padding-left: 3rem;
	padding-right: 3rem;
}

/* quickBanner */
.quickbanner,
.btn-top{
	display: none;
}

/* sub */
.sub-content-title{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 6.5rem;
	text-align: center;
	font-size: 2rem;
}

/* list-search */
.list-search{
	margin-bottom: 2rem;
	box-shadow: 0 .2rem .5rem rgba(0,0,0,.1);
}
.list-search-direct{
	display: flex;
	align-items: center;
	padding: 1rem;
	background: #ff002b;
}
.list-search-direct label{
	display: block;
	width: 100%;
}
.list-search-direct .item-title{
	display: none;
}
.list-search-direct input[type="text"]{
	max-width: 50rem;
	width: 100%;
	border: 0 none;
	border-radius: .6rem;
}
.list-search-direct .item-btn-search{
	width: 3.5rem;
	height: 3.5rem;
	margin-left: 1rem;
	border: .2rem solid #fff;
	border-radius: .6rem;
	background: #ff002b url(../images/common/btn-search.png) no-repeat 50% 50% / contain;
}
.list-search-keyword{
	padding: 1.5rem 1rem;
	border: 1px solid #ccc;
	border-width: 0 1px 1px;
}
.list-search-keyword .item-line{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: .4rem 0;
}
.list-search-keyword .item-line + .item-line{
	margin-top: 1rem;
}
.list-search-keyword .item-keyword-title{
	display: none;
}
.list-search-keyword .item-keyword-btn{
	padding: .2rem .6rem;
	font-size: 1.2rem;
}
.list-search-keyword .item-keyword-btn:hover{
	border-radius: 1.2rem;
	background: #ff002b;
	color: #fff;
}