@charset "utf-8";

/* html, body {width: 100%;height: 100%;overflow: hidden;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;} */
/* #wrap {display: flex; flex-direction: column; position: absolute; top: 0;left: 0;width: 1170px;height: 768px;padding: 38px 0;font-family: NotoM; background-color: #f6e7d4; box-sizing: border-box; box-shadow: inset 0 38px 0 0 #333, inset 0 -38px 0 0 #333;} */
/* #wrap .container { flex-grow:1;position:relative; height:100%; } */
/* #wrap .contents { display: inline-block; width:100%; height:100%; background: #fff;} */
/* .contents > .section { position:relative; } */

/*=========================================================================================================
* common
=========================================================================================================*/
/* pageInfo */
/* .fake-ui-header { position: absolute; top: 0; right: 0; left: 0; height: 38px; background-color: #333;} */
/* .fake-ui-header .page-info { position: relative; display: flex; align-items: center; justify-content: center; font-size: 15px; color: white; height: 38px;} */
/* .page-info__icon { margin-right: -2px; overflow: hidden; transform: scale(0.5);} */
/* .page-info__icon--show { opacity: 1; visibility: visible;} */
/* .page-info__icon--hide { opacity: 0; visibility: hidden;} */
/* .page-info__icon__bar { background-color: #fff; overflow: hidden;} */
/* .page-info__icon__bar>div { position: absolute; top: 0; left: 0; width: 100%; height: 100%} */
/* .page-info__type { position: relative; margin-left: 1em; padding-right: .7em; font-size: 13px; color: #ffb380;} */
/* .page-info__type::after { content: ""; position: absolute; top: 5px; right: 0; bottom: 0; width: 1px; height: 10px; background-color: #ffb380;} */
/* .page-info__number { margin-left: .5em; font-size: 13px;} */
/* .page-info__number::before { content: 'P.'; margin-right: 2px;} */

/*=========================================================================================================
* header
=========================================================================================================*/
/* header { position: relative; padding: 0 39px;} */
/* header h1 { position: relative; display: inline-block; margin-bottom:30px; padding: 14px 44px 0px 36px; height: 50px; color: #fff;  font-size: 20px; font-family: YGJAL; border-radius: 0 0 40px 40px; background-color: #f60; } */
/* header h1 .icon { margin-right: 8px; background-size: contain; background-repeat: no-repeat; background-position: center; vertical-align:middle;} */
/* header h1 .icon.jaum { display: inline-block; margin-top:-2px; width: 25px; height: 25px; background-image: url("../images/icon/header_ico_jaum.png");} */
/* header .title { padding-left: 50px; font-size: 25px; letter-spacing: -0.02em; color: #845e4d;font-family: NotoM; position:relative; } */
/* header .title:before {content: ""; position: absolute; top: 0px; left: 0; width: 32px; height: 36px; background: url('../images/icon/header_title_ico1.png') no-repeat left center/contain;} */

/* header.og_default .title { margin-top: -8px; padding-bottom:21px;} */

/*=========================================================================================================
* gate_container
=========================================================================================================*/
/* gate_container */
.gate_container {
    position: absolute;
    top: 38px;
    bottom: 38px;
    left: 0;
    right: 0;
    z-index: 20;
    background: #f7f1da;
}
.gate_container.off {
    display: none !important;
}
.gate_container .gate_ani {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.gate_container .gate_ani .gate_ani_cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.gate_container .gate_topbox {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.gate_container .gate_title {
    width: 100%;
    color: #fff;
    font-size: 62px;
    line-height: 100%;
    text-align: center;
    font-family: YGJAL;
    position: absolute;
    top: 152px;
}
.gate_container .gate_btn {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 498px;
}
.gate_container .gate_btn span {
    display: inline-block;
    width: 216px;
    height: 52px;
    line-height: 52px;
    font-size: 23px;
    border-radius: 8px;
    font-family: YGJAL;
    background: #ffe100;
    /* background: #FFD71C; */
    cursor: pointer;
    position: relative;
}
.gate_container .gate_btn span:after {
    content: ">";
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 18px;
}
/* .gate_container .gate_btn span:hover { */
/*     color: #fff; */
/*     background: #f77c19; */
/*     -moz-transition: all 0.1s ease-out; */
/*     -o-transition: all 0.1s ease-out; */
/*     -ms-transition: all 0.1s ease-out; */
/*     transition: all 0.1s ease-out; */
/* } */
.gate_container .gate_btn span.over {
    color: #fff;
    background: #f77c19;
    /* background: #FFFC00; */
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.gate_container .gate_txt {
    width: 100%;
    color: #000;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    font-family: NotoB;
    position: absolute;
    top: 586px;
}
.gate_container .gate_rightbtn {
    width: 198px;
    position: absolute;
    right: 40px;
    top: 610px;
}
.gate_container .gate_rightbtn span {
    display: block;
    padding: 0 34px 0 50px;
    height: 43px;
    line-height: 43px;
    font-size: 18px;
    color: #fff;
    border-radius: 43px;
    font-family: YGJAL;
    cursor: pointer;
    position: relative;
}
.gate_container .gate_rightbtn span:after {
    content: "";
    width: 6px;
    height: 43px;
    position: absolute;
    top: 0;
    right: 16px;
    background: url("../../common/images/icon/gate_rightbtn_ico3.png") no-repeat right top/contain;
}
.gate_container .gate_rightbtn span.rv {
    background: url("../../common/images/icon/gate_rightbtn_ico1.png") no-repeat 24px top/contain;
}
.gate_container .gate_rightbtn span.mt {
    background: url("../../common/images/icon/gate_rightbtn_ico2.png") no-repeat 24px top/contain;
}

/* 실험팡팡 */
/* .gate_container.pang .gate_topbox {background: url('../../common/images/background/gate_container_pang_img1.png') no-repeat center top/contain;} */
/* .gate_container.pang .gate_title { color: #000;} */
/* .gate_container.pang .gate_title span { color: #0398e4;} */
/* .gate_container.pang .gate_btn span { background: #32a824;} */

/* 가로세로낱말퀴즈 */
/* .gate_container.wordquiz .gate_topbox {background: url('../../common/images/background/gate_container_wordquiz_img1.png') no-repeat center top/contain;} */
/* .gate_container.wordquiz .gate_title span { color: #ffe100;} */
/* .gate_container.wordquiz .gate_rightbtn span.rv { background-color: #5e3e18; } */

/* 확인문제 */
.gate_container.checkquiz .gate_topbox {
    background: url("../../images/background/gate_container_checkquiz_img1.png") no-repeat center top/contain;
}
.gate_container.checkquiz .gate_title {
    top: 246px;
    text-shadow: 4px 0 0 #0d7140, -4px 0 0 #0d7140, 0 4px 0 #0d7140, 0 -4px 0 #0d7140, 3px 3px #0d7140, -3px -3px 0 #0d7140, 3px -3px 0 #0d7140,
        -3px 3px 0 #0d7140, 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.gate_container.checkquiz .gate_btn {
    top: 334px;
}

/* 골든벨퀴즈 */
/* .gate_container.goldenbell .gate_topbox {background: url('../../common/images/background/gate_container_goldenbell_img1.png') no-repeat center top/contain;} */
/* .gate_container.goldenbell .gate_title { color: #000;} */
/* .gate_container.goldenbell .gate_title span { color: #fff4ac;} */
/* .gate_container.goldenbell .gate_btn { top: 438px;}  */
/* .gate_container.goldenbell .gate_btn span:hover {background: #593f1f;} */
/* .gate_container.goldenbell .gate_rightbtn { top:550px; }  */
/* .gate_container.goldenbell .gate_rightbtn span.rv { background-color: #d6a96e; } */
/* .gate_container.goldenbell .gate_rightbtn span.mt { margin-top: 8px; background-color: #5e3e18; } */
/* .gate_container.goldenbell .gate_infobox { margin-left: -332px; width: 664px; position:absolute; top:520px; left:50%; text-align:center;} */
/* .gate_container.goldenbell .gate_infobox:after {content:''; clear: both;} */
/* .gate_container.goldenbell .gate_infobox dl { margin: 0 6px;width: 320px; height: 124px; border-radius: 32px; background: #e7c599; float: left; position:relative;} */
/* .gate_container.goldenbell .gate_infobox dl dt { margin-top: -21px; width: 89px; height:46px; font-size: 18px; line-height: 22px; color: #5e3e18; font-family: YGJAL; position:absolute; top:50%;} */
/* .gate_container.goldenbell .gate_infobox dl dd { padding: 20px 18px 20px 85px;} */
/* .gate_container.goldenbell .gate_infobox dl dd p { display: inline-block; padding-top: 50px; margin: 0 3px; width:66px; height:84px ;border-radius: 5px; background-color: #fff; box-shadow: 0 3px 0px #cfb189; cursor: pointer; background-position: center top; background-repeat: no-repeat; background-size: contain;} */
/* .gate_container.goldenbell .gate_infobox dl dd p span { display: inline-block; font-size: 15px; color: #333; line-height: 100%; font-family: YGJAL;} */
/* .gate_container.goldenbell .gate_infobox dl dd p:hover, */
/* .gate_container.goldenbell .gate_infobox dl dd p.on { background-color: #5e3e18;} */
/* .gate_container.goldenbell .gate_infobox dl dd p:hover span, */
/* .gate_container.goldenbell .gate_infobox dl dd p.on span { color: #fff; } */
/* .gate_container.goldenbell .gate_infobox dl dd p:hover, */
/* .gate_container.goldenbell .gate_infobox dl dd p:hover span {-moz-transition: all .1s ease-out;-o-transition: all .1s ease-out;-ms-transition: all .1s ease-out;transition: all .1s ease-out;} */
/* .gate_container.goldenbell .gate_infobox dl dd p:nth-child(1) {background-image: url('../../common/images/icon/gate_infobox_ico1.png');} */
/* .gate_container.goldenbell .gate_infobox dl dd p:nth-child(2) {background-image: url('../../common/images/icon/gate_infobox_ico2.png');} */
/* .gate_container.goldenbell .gate_infobox dl dd p:nth-child(3) {background-image: url('../../common/images/icon/gate_infobox_ico3.png');} */
/* .gate_container.goldenbell .gate_infobox dl.timer dt { line-height: 46px;} */
/* .gate_container.goldenbell .gate_infobox dl.timer dd p:nth-child(1) {background-image: url('../../common/images/icon/gate_infobox_ico4.png');} */
/* .gate_container.goldenbell .gate_infobox dl.timer dd p:nth-child(2) {background-image: url('../../common/images/icon/gate_infobox_ico5.png');} */
/* .gate_container.goldenbell .gate_infobox dl.timer dd p:nth-child(3) {background-image: url('../../common/images/icon/gate_infobox_ico6.png');} */
