.rect-num.color-01::after {
    background: #ffffff;
}

.pic-box-01 .image {
    width: 993px;
    height: 307px;
    background: url("../images/nkor_0102_01_0102_202/img_01.png") no-repeat;
    background-size: contain;
}
.pic-box-02 .image {
    width: 993px;
    height: 307px;
    background: url("../images/nkor_0102_01_0102_202/img_02.png") no-repeat;
    background-size: contain;
}
.pic-box-03 .image {
    width: 993px;
    height: 307px;
    background: url("../images/nkor_0102_01_0102_202/img_03.png") no-repeat;
    background-size: contain;
}
.pic-box-04 .image {
    width: 993px;
    height: 307px;
    background: url("../images/nkor_0102_01_0102_202/img_04.png") no-repeat;
    background-size: contain;
}