.style-a{width:100%; position:relative; height:500px; background: url(../images/nkpt_291_1/img_01.jpg) no-repeat center;}

.box-point .button.n1{top:50px; left:100px}
.box-point .button.n3{top:180px; left:0px; max-width:400px}
.box-point .button.n5{top:320px; left:0;}
.box-point .button.n2{top:20px; right:60px;}
.box-point .button.n4{top:190px; right:160px}
.box-point .button.n6{top:360px; right:190px}

