.sub-content > div:nth-child(1) {
    margin: 15px auto;
    padding: 0 30px;
    width: 968px;
    height: 140px;
    background-color: #fff;
    border-radius: 15px;
    text-align: justify;
}

.sub-content > div:nth-child(2) {
    margin: 15px auto;
    padding: 0 30px;
    width: 968px;
    height: 240px;
    background-color: #fff;
    border-radius: 15px;
}

.top-line-box .sub-content {
    display: block;
    justify-content: normal;
    align-items: normal;
}

.top-line-box .sub-tab-box {
    height: 425px;
}