/* .page-01 .table-box {
    font-size: 32px;
} */

.rect-num.num-03 {
    position: relative;
    top: -38px;
    left: -19px;
}

.rect-num.num-01 {
    position: relative;
    top: -38px;
    left: -19px;
}

.rect-num.num-02 {
    position: relative;
    top: -38px;
    left: -19px;
}

th .icon-text .icon {
    position: relative;
    top: -12px;
}

.rect-hidden {
    position: relative;
    top: -7px;
    margin-left: 7px;
}

.rect-hidden .rect-num.num-03 {
    position: relative;
    top: -33px;
}

.dir-rect.color-03, .rect-ex.color-03::after, .circle-kor.color-03::after, .rect-kor.color-03::after, .circle-num.color-03::after, .rect-num.color-03::after {
    color: #7FB624;
    border: 3px solid #7FB624;
    background-color: #fff;
}

.one .icon {
    position: relative;
    left: 80px;
}

.text-box{
    padding:10px 0;
}
.example-box{position: relative;}
.main.summary .example-box .info-box{left:0; right:auto; top:0;}