.box-round-vowel{
    width:100%; 
    background:#ffeccf;
    border-radius: 90px;
    align-items: center;
    min-height: 180px;
    padding-right:60px
}
.box-round-vowel .vowel:first-child{
    margin-left:-20px
}
.box-round-vowel .vowel + .vowel{margin-left:5px}
.box-round-vowel .vowel{
    flex:0 !important;
    min-width:90px;
    min-height:90px;
    max-width:90px;
    max-height:90px;
    border-radius:50%; 
    background-color:#fff;
    border:5px solid #f6e7d4;
    text-align: center;
    color:#000;
    font-size:38px;
    line-height:78px;
    font-family: 'NotoB';
}
.box-round-vowel .vowel-desc{
    font-size:32px;
}