.bg-color-box{
    margin-top: 10px;
    height: 115px;
}

.quot-open {
    margin-top: 10px;
}

/* .content > .direction {
    margin: 20px 0 20px 0;
} */

.img1{
    position: absolute;
    top: 340px;
    left: 380px;
}
