table td{background:#fff;}
.dir-rect{background:#fff; margin-left:10px}

.side-tab .button-box .button {
    height: 50%;
}

.tab-content .table-box{width:100%;}
.table-title{padding:10px 0 0; text-align: center; font-size:35px; min-width:100%;}

.hidden-box.show-icon .text{margin:0 auto}


.tab-content .sub-title-box {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: YGOT;
    font-size: 35px;
    color: #FF6600;
}
.tab-content .sub-title-box .text {
    margin: 0 50px;
}
.tab-content .sub-title-box .ico-01 {
    width: 12px;
    height: 35px;
    background: url("../common/images/jejae_bullet_01.png") no-repeat;
    background-size: contain;
}
.tab-content .sub-title-box .ico-02 {
    width: 12px;
    height: 35px;
    background: url("../common/images/jejae_bullet_02.png") no-repeat;
    background-size: contain;
}

