

.ex-box .item-box{
    position: relative;
    /* font-size: 35px;
    font-family: notoB; */
    /* width: 350px; */
    margin: -10px auto 10px auto;
}


.item-box .text {
    margin: auto 20px;
}
.text-box{width:1000px; margin:0 auto 0; height:350px;}
.text-box .text{ margin:5px 0}