.popup-mini {
    top: 85px;
    left: 195px;
}

.img-box {
    position: absolute;
    left: 50%;  
    transform:translateX(-50%);
    top: 10px;
    width: 1085px;
    height: 455px;
    background: url('./images/nkpt_201/img_01.png')no-repeat center;
    background-size: contain;
    border-radius: 20px;
}