.blue-text {
    font-family: NotoB;
    color: #046DFF;
}

.speech-box-01 {
    position: absolute;
    left: 90px;
    top: 100px;
    width: 280px;
}
.speech-box-01 .arrow {
    position: absolute;
    left: 80px;
    top: 115px;
}

.speech-box-02 {
    position: absolute;
    left: 200px;
    top: 30px;
    width: 280px;
}
.speech-box-02 .arrow {
    position: absolute;
    left: 150px;
    top: 115px;
}

.click-induced.pic {
    position: absolute;
}
.button-pic-01 {
    left: 50px;
    top: 250px;
}
.button-pic-01 .image {
    width: 407px;
    height: 301px;
    background: url("../images/nkor_act_0102_03_0708_201/nkor_act_0102_03_0708_201_1.png") no-repeat;
    background-size: contain;
}

.button-pic-02 {
    left: 880px;
    top: 130px;
}
.button-pic-02 .image {
    width: 244px;
    height: 333px;
    background: url("../images/nkor_act_0102_03_0708_201/nkor_act_0102_03_0708_201_2.png") no-repeat;
    background-size: contain;
}

.page-01 .border-color-box {
    border:5px solid #FDF2F5;
    width: 595px;
    padding: 2px 30px;
    margin: 0px auto;
}
.page-02 .border-color-box {
    border: 5px solid #FFD89F;
    width: 770px;
    height: 80px;
    padding: 2px 15px;
    margin: 0px auto;
}

.ico-arrow-01 {
    transform: rotate(90deg);
    margin: 5px auto;
    width: 25px;
    height: 27px;
}

/* .text {
    font-size: 25px;
} */
.popup-mini .text {
    font-size: 30px;
}

.line {
    width: 503px;
    height: 5px;
    margin: 0px auto;
    background-color: #f7f7f7;
    border-radius: 5px;
}
.page-02 .line {
    width: 7px;
    height: 100%;
    margin: auto 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.hidden-text {
    padding: 0px 10px;
    margin: 5px 5px;
}

.popup-full-pic .image-box {
    width: 100%;
    height: 100%;
}

/* .popup-mini .bullet-box.bullet-box-00.empty-circle::after {
    background: #cccccc;
} */

.popup-mini .bullet-box.bullet-box-01.empty-circle::after,
.popup-mini .bullet-box.bullet-box-02.empty-circle::after {
    margin-left: 20px;
    background: #cccccc;
}



/* 더알아보기  */
.single-choice {
    position: relative;
}




.activity-button-small {
    position: relative;
    left: 50%;
    top: 0;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 30px;
    transform: translate(-50%, 0);
}
